/* BingoCard/BingoCard.css */

.bingo-card {
    border: 2px solid #008000;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .bingo-card h2 {
    margin-top: 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td {
    border: 1px solid #008000;
    padding: 10px;
    text-align: center;
  }
  
  table td:first-child {
    border-left: none;
  }
  
  table td:last-child {
    border-right: none;
  }
  
  table tr:last-child td {
    border-bottom: none;
  }
  